## 1. Write a Python function to find the maximum of given numbers.

In [ ]:
def find_max(*numbers):
   return max(numbers)
find_max(1,2,3)

In [21]:
def find_max(*numbers):
    
    for num in numbers:
        if num == max(numbers):
            print(num)

find_max(5,4,8)

8

## 2. Write a Python function to sum all the numbers in a list

In [29]:
def sum(*numbers):
    total = 0
    for i in numbers:
        total +=i
    return total

sum(1,4,2,5,9)

21

In [30]:
list = [8,2,3,0,7]
sum =0
for i in list:
    sum = sum +i
sum

20

## 3. Write a Python function to multiply all the numbers in a list.

In [33]:
def multi(list):

    multi_list= 1
    for i in list:
        multi_list *=i
    return multi_list

multi([1,2,3])

6

In [34]:
def multi2(*numbers):

    multi_list1= 1
    for i in numbers:
        multi_list1 *=i
    return multi_list1

multi2(1,2,3,6)

36

## 4. Write a Python program to reverse a string.

In [42]:
name = input("Write your name")

index = - 1
reversed_name = []
for i in name:
    reversed_name.append(name[index])
    index -= 1

"".join(reversed_name)

'ilaamuC'

In [46]:
def reversed_string(str):
    index = -1
    reversed1 =[]
    for i in str:
        reversed1.append(str[index])
        index -= 1
    return "".join(reversed1)

reversed_string("Cumaali")

'ilaamuC'

'ali'