In [17]:
x = [0,1,2,3,4,5,6,7,8,9]
x.insert(10,10)
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [19]:
x.append(11)
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 11]

In [20]:
del x[:5]
x

[5, 6, 7, 8, 9, 10, 11, 11]

In [21]:
x.pop()
x

[5, 6, 7, 8, 9, 10, 11]

In [22]:
x.remove(5) # the first 5 will be removed!
x

[6, 7, 8, 9, 10, 11]

In [23]:
x.pop(0)

6

In [24]:
x

[7, 8, 9, 10, 11]

In [25]:
x.insert(0,"Hello")
x

['Hello', 7, 8, 9, 10, 11]

In [27]:
x.extend([12])
x

['Hello', 7, 8, 9, 10, 11, 12]

In [29]:
y = [13,14,15,16,17]
x.extend(y) #it run twice :)
x

['Hello', 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 13, 14, 15, 16, 17]

In [36]:
k = [1,2,3]
l = [4,5,6]

for z in l:
    k.append(z)

In [38]:
k

[1, 2, 3, 4, 5, 6]

In [41]:
k.reverse()

In [42]:
k

[6, 5, 4, 3, 2, 1]

In [43]:
k.sort()

In [44]:
k

[1, 2, 3, 4, 5, 6]

In [45]:
k.sort(reverse=1)

In [51]:
k

[1, 2, 3]

In [47]:
k.sort()

In [50]:
del k[3:]

In [49]:
l

[4, 5, 6]

In [52]:
for each_element in l:
    k.append(each_element ** 2) # we got the squares of the elements in l
k

[1, 2, 3, 16, 25, 36]

In [63]:
my_list = []
for i in k:
    if i<=3:
        my_list.append(i**2)
    else:
        my_list.append(int(i**0.5))

In [64]:
my_list

[1, 4, 9, 4, 5, 6]

In [28]:
#sets
x = (1,2,3)
y= x + (100,)
y

(1, 2, 3, 100)

In [7]:
y = y + (4,5,6)
y

(1, 2, 3, 100, 4, 5, 6, 4, 5, 6)

In [19]:
z = {"red", "green", "yellow","yellow"}
z

{'green', 'red', 'yellow'}

In [24]:
len(z)

3

In [29]:
z.add("brown")
z

{'brown', 'green', 'red', 'yellow'}

In [30]:
z.update(["red","orange"])
z

{'brown', 'green', 'orange', 'red', 'yellow'}

In [31]:
z.update([1,2])
z

{1, 2, 'brown', 'green', 'orange', 'red', 'yellow'}

In [32]:
z.update([3,4,5,6,7,8,9])
z

{1, 2, 3, 4, 5, 6, 7, 8, 9, 'brown', 'green', 'orange', 'red', 'yellow'}

In [34]:
z.remove("yellow")
z

{1, 2, 3, 4, 5, 6, 7, 8, 9, 'brown', 'green', 'orange', 'red'}

In [35]:
z.discard("orange")
z

{1, 2, 3, 4, 5, 6, 7, 8, 9, 'brown', 'green', 'red'}

In [36]:
z.clear() # it completely removes the set
z

set()

In [37]:
del z # it completely destroys the set
z

NameError: name 'z' is not defined

In [42]:
a = {1,2,3}
b = {4,5,6}
c = {5,6,7}
d = a.union(b,c)
d # no repetition will run

{1, 2, 3, 4, 5, 6, 7}

In [52]:
b = {4,5,6}
c = {5,6,7}
d = a.intersection(c)
d

{5, 6, 7}

In [54]:
d = b.difference(c)
d

{4}

In [55]:
e = c.difference(b)
e

{7}

In [56]:
b.update("red")
b

{4, 5, 6, 'd', 'e', 'r'}

In [57]:
b.update(["red"])
b

{4, 5, 6, 'd', 'e', 'r', 'red'}

In [58]:
a is b

False

In [71]:
#dictionary

x = {"name":"John",
    "age":35,
    "city": "NYC"}
x

{'name': 'John', 'age': 35, 'city': 'NYC'}

In [60]:
for key in x:
    print(key)

name
age
city

In [61]:
for values in x:
    print(x[values])

John
35
NYC

In [62]:
x.values()

dict_values(['John', 35, 'NYC'])

In [63]:
x.items()

dict_items([('name', 'John'), ('age', 35), ('city', 'NYC')])

In [66]:
y = dict(name="James", age=38, city="Paris")
y

{'name': 'James', 'age': 38, 'city': 'Paris'}

In [68]:
y.items()

dict_items([('name', 'James'), ('age', 38), ('city', 'Paris')])

In [69]:
y.values()

dict_values(['James', 38, 'Paris'])

In [72]:
x["name"]

'John'

In [74]:
y.get("age")

38

In [75]:
y["country"] ="France"
y

{'name': 'James', 'age': 38, 'city': 'Paris', 'country': 'France'}

In [78]:
x.update({"zip":10029,
          "state":"NY",
          "age":40})
x

{'name': 'John', 'age': 40, 'city': 'NYC', 'zip': 10029, 'state': 'NY'}

In [79]:
x.pop("age")
x

{'name': 'John', 'city': 'NYC', 'zip': 10029, 'state': 'NY'}

In [80]:
del x["name"]
x

{'city': 'NYC', 'zip': 10029, 'state': 'NY'}

In [81]:
x.clear() # it completely deletes
x

{}

In [82]:
y.update({"city": "London"})
y

{'name': 'James', 'age': 38, 'city': 'London', 'country': 'France'}

In [95]:
# tuple to dict
x = ((1,"a"), ("b", 23))
dict(x)

{1: 'a', 'b': 23}