### SESSION 1 - INTRODUCTION

In [35]:
3+5

8

## Printing

In [36]:
print("Hello World") #case sensitive
print('Wonderland')
print(5+6)
print("I am a 'ghost'")
print('You are a "ghost"')
print('''Phyton is an awesome programming language''')

Hello World
Wonderland
11
I am a 'ghost'
You are a "ghost"
Phyton is an awesome programming language

In [37]:
('''Phyton is an awesome programming language''')

'Phyton is an awesome programming language'

In [38]:
a=5
b=20
a+b

25

In [44]:
a = 38
b = "Kayseri"
print(a ,b)
c= 16
d= "Bursa"
# del c, it deletes that variable!
print(c,d)

38 Kayseri
16 Bursa

In [45]:
x,y,z = 3,4,5
print(x*z-y)

11

In [47]:
print('''You 
will
never
walk 
alone''')

You
will
never
walk
alone

In [54]:
str(4)
#it changes into string

2

In [56]:
int(5*0.4)
#it turns into an integer

2

In [61]:
a = '5.5'
float(a)

5.5

In [67]:
greeting = 'Hello World!'
numbers = 4*25
print(greeting)

print(type(greeting))

print(numbers)
print(type(numbers))

Hello World!
<class 'str'>
100
<class 'int'>

In [75]:
print('Phyton', 'Programming','Language')

Phyton Programming Language

In [81]:
print("Iron" + "man")
print("Old"+" "+"farmer")
print("All" "right")

Ironman
Old farmer
Allright

In [88]:
a = "Computer Science"
b = "Class"
len(a) + len(b)

21

In [90]:
len("5*20")
#len is not interested in maths, it just counts the characters

4

In [97]:
print("January\tFabruary")
print("New York\nUtah")
print(*"Linux")

January	Fabruary
New York
Utah
L i n u x

In [105]:
print("Paris","London","Berlin", sep="---")
print("Germany", "France", "UK", sep=" ")

Paris---London---Berlin
Germany France UK

In [114]:
print("Today is Sunday", end=" !")

Today is Sunday !

In [120]:
print(*"MATRIX" ,sep=".")

M.A.T.R.I.X

In [129]:
print(*"MATRIX",sep="\n")

M
A
T
R
I
X

In [136]:
name = input("Your name: ")
print("Reverse of your name is: ", name[::-1])
print(name[:5:2])
print(name[2:10:3])

Reverse of your name is:  nittesmeŞ
Şme
mtn

In [137]:
a=5
b=10
print("{}+{} is {}.".format(a,b,a+b))

5+10 is 15.

In [138]:
a=5
b=10
c=12
print("{}+{}-{} is {}.".format(a,b,c,a+b-c))

5+10-12 is 3.

In [143]:
j="John"
m="Melinda"
a= "{} and {} are best friends"
a.format(j,m)

'John and Melinda are best friends'

In [144]:
a= "{1} and {0} are best friends"
a.format("James","Harvey")

'Harvey and James are best friends'