## 1. Write a Python function to find the maximum of given numbers.

In [ ]:
def find_max(*numbers):
   return max(numbers)
find_max(1,2,3)

In [21]:
def find_max(*numbers):
    
    for num in numbers:
        if num == max(numbers):
            print(num)

find_max(5,4,8)

8

## 2. Write a Python function to sum all the numbers in a list

In [29]:
def sum(*numbers):
    total = 0
    for i in numbers:
        total +=i
    return total

sum(1,4,2,5,9)

21

In [30]:
list = [8,2,3,0,7]
sum =0
for i in list:
    sum = sum +i
sum

20

## 3. Write a Python function to multiply all the numbers in a list.

In [33]:
def multi(list):

    multi_list= 1
    for i in list:
        multi_list *=i
    return multi_list

multi([1,2,3])

6

In [34]:
def multi2(*numbers):

    multi_list1= 1
    for i in numbers:
        multi_list1 *=i
    return multi_list1

multi2(1,2,3,6)

36

## 4. Write a Python program to reverse a string.

In [42]:
name = input("Write your name")

index = - 1
reversed_name = []
for i in name:
    reversed_name.append(name[index])
    index -= 1

"".join(reversed_name)

'ilaamuC'

In [2]:
def reversed_string(str):
    index = -1
    reversed1 =[]
    for i in str:
        reversed1.append(str[index])
        index -= 1
    return "".join(reversed1)

reversed_string("Cumaali")

'ilaamuC'

## 5. Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number as an argument

In [14]:
def fact(a):
    if a>0:

        factoriel =1
        for i in range(1,a+1):
            factoriel *=i
    
    else:
        print("The number has to be greater than 0")
    return factoriel

fact(5)

120

## 6. Write a Python function to check whether a number falls within a given range.

In [44]:
def number_found(num):
    
    if num in range(0,99,2):
        
        result = f"""Congratulations "{num}" is in the range"""
    else:
        result = f"Unfortunately {num} is not in the range!"
  
    return result

number_found(44)

'Congratulations "44" is in the range'

## 7. Write a Python function that accepts a string and counts the number of upper and lower case letters

In [1]:
def string(str):
      
      upper_case =0
      lower_case =0  

      for i in str:
            if i.isupper():
                  upper_case+=1
            elif i.islower():
                  lower_case +=1
            else:
                  pass
            
            result = f"The original string is: {str}"
            result1 = f"The number of upper cases are: {upper_case}"
            result2 = f"lower cases: {lower_case}"
      return result,result1,result2

string("The quick Brow Fox")

('The original string is: The quick Brow Fox',
 'The number of upper cases are: 3',
 'lower cases: 12')

In [12]:
#how to zip and after tuple, list or dict to read it
a = ("John", "Charles", "Mike")
b = ("Jenny", "Christy", "Monica", "Vicky")

c = zip(a,b)
tuple(c)

(('John', 'Jenny'), ('Charles', 'Christy'), ('Mike', 'Monica'))

In [14]:
teams= ("Real Madrid", "Milan", "Liverpool")
cups = (7,4,3)

mixed = zip(teams, cups)
dict(mixed)

{'Real Madrid': 7, 'Milan': 4, 'Liverpool': 3}

## 8. Write a Python function that takes a list and returns a new list with distinct elements from the first list.

In [15]:
def distinct(list):

    new_list = []
    for i in list:
        if i not in new_list:
            new_list.append(i)
    return new_list

distinct(("ali",1,2,2,2,"ali","james"))

['ali', 1, 2, 'james']

## 9. Write a Python function that takes a number as a parameter and checks whether the number is prime or not.

In [34]:
def prime_num(num):
    if num >1:
        for i in range(1,num):
            if num % i ==1:
                result = f"{num} is a prime number"
            else:
                result = f"{num} is not a number"
    else:
        print("number must be greater than 1")
    return result

prime_num(23)

'23 is a prime number'

## 10. Write a Python program to print the even numbers from a given list