In [1]:
def odd_numbers(a,b,c,d,e):
    """This function returns odd numbers"""
    
    num_list = [a,b,c,d,e]
    odd_list = []
    for i in num_list:
        if i % 2:
            odd_list.append(i)
    return  f"Odd numbers are: {odd_list}"

In [4]:
odd_numbers(1,5,8,9,12)

'Odd numbers are: [1, 5, 9]'

### Arbitrary Number of Arguments (* args, **kwargs)

In [1]:
def odd_numbers1(* numbers):  # we can write as much arguments we want by *
    """This function returns odd numbers"""
    
    odd_list = []
    for i in numbers:
        if i % 2:
            odd_list.append(i)
    return  f"Odd numbers are: {odd_list}"

In [3]:
odd_numbers1(1,22,55,88,99,66,457,8,5)

'Odd numbers are: [1, 55, 99, 457, 5]'

In [4]:
odd_numbers1()

'Odd numbers are: []'

In [7]:
print(* "hello")

h e l l o

In [8]:
def reverse_write(* words):
    list = []
    list.append(words[::-1])
    return list

In [9]:
reverse_write("Oprah", "Joey" ,"Felix")

[('Felix', 'Joey', 'Oprah')]

In [10]:
def product_stock(** kwargs):
    for i,j in kwargs.items():
        print(f"product: {i} , quantity {j}")

In [26]:
product_stock(apple = 3, orange =5, cherry=10, melon= 11)

product: apple , quantity 3
product: orange , quantity 5
product: cherry , quantity 10
product: melon , quantity 11

In [12]:
dict(one =1, two =2)

{'one': 1, 'two': 2}

In [13]:
dict_1 = {"Emily":30, "George": 28 , "Walter": 35}

In [21]:
def stuff_age(**kwargs):
    for i,j in kwargs.items():
        print(f"name: {i}, age: {j}")

In [25]:
stuff_age(**dict_1)

name: Emily, age: 30
name: George, age: 28
name: Walter, age: 35

In [23]:
stuff_age(Lina = 30, James = 22, Oprah =44)

name: Lina, age: 30
name: James, age: 22
name: Oprah, age: 44

### filter()

In [29]:
list(filter(None,"hello"))

['h', 'e', 'l', 'l', 'o']

In [31]:
list(filter(None, [0,1,2,3,4,5,"","tech",[],False,True])) #returns the True arguments

[1, 2, 3, 4, 5, 'tech', True]

In [34]:
def odd_numbers2(x):
    if x % 2:
        return True
    else:
        return False

In [36]:
odd_numbers2(2)

False

In [37]:
odd_numbers2(3)

True

In [38]:
filter(odd_numbers2,[1,2,3,4,5,6,7,8,9])

In [50]:
list(filter(odd_numbers2,[1,2,3,4,5,6,7,8,9]))

[1, 3, 5, 7, 9]

In [42]:
def len_(y):
    if len(y) == 5:
        return True
    else:
        return False

In [43]:
len_("James")

True

In [47]:
tuple(filter(len_,["James", "George", "Wales", "Oprah", "Telecom"])) # length 5 will return

('James', 'Wales', 'Oprah')

In [48]:
tuple(filter(None,["James", "George", "Wales", "Oprah", "Telecom"]))

('James', 'George', 'Wales', 'Oprah', 'Telecom')

### Lambda ile function olu≈üturma

In [51]:
def square(x):
    return x**2

In [52]:
square(5)

25

In [53]:
lambda x: x**2

In [55]:
(lambda x: x**2)(5)

25

In [61]:
def mean(x,y): # average mean
    return (x+y) /2

In [62]:

mean(15,25)

20.0

In [66]:
(lambda x, y: (x+y) /2)(48,24)

36.0

In [73]:
average = lambda x, y: (x+y) /2

In [74]:
average(5.6,8.4)

7.0

In [76]:
reverse1= lambda x: x[::-1]

In [78]:
reverse1("James")

'semaJ'

### map()

In [87]:
squares = lambda x: x**2
squares(8)

64

In [89]:
list(map(squares, [1,2,3,4,5,6,7,8,9]))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [90]:
# manuel map function with nested function


def map1(*args):
    list =[]
    for i in args:
        list.append(squares(i))
    return list

In [91]:
map1(1,2,3,4,5)

[1, 4, 9, 16, 25]

### factorial problem solving

In [8]:


def fact_while(x):
    multiply_value = 1
    while x > 0:
        multiply_value *= x
        x -= 1
    return multiply_value

In [9]:
fact_while(5)

120

In [5]:


factorial(6)

720

In [11]:
def fact_for(x):
    result = 1
    for i in range(x,0,-1):
        result *= i
    return result

In [12]:
fact_for(4)

24

In [14]:
list(range(5,0,-1)) # tersten range alabiliriz

[5, 4, 3, 2, 1]

### recursive function

In [15]:
def fact_recursive(x):

    if x == 0 or x == 1:
        return 1

    return x * fact_recursive(x - 1)

In [16]:
fact_recursive(5)

120

In [17]:
fact_recursive(100)

93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

In [18]:
x = 5

def aa():
    x =10
    print(x)

In [20]:
aa() #local
print(x) #global

10
5