### functions

In [8]:
def func_name(a,b):
    print(a*b)

In [16]:
def square_sum(x,y):
    print(x**2+y**2)

In [17]:
square_sum(5,8)

89

In [18]:
aa = square_sum(3,4)

25

In [23]:
print(aa) # function da return olmadığı için None olur

None

In [13]:
def multiply(a,b):
    return a * b

In [15]:
multiply(5,40)

200

In [19]:
b= multiply(10,6)

In [20]:
b

60

In [25]:
b*10

600

In [26]:
aa*5 # retun olmadığı için üstüne işlem yapılmaz

TypeError: unsupported operand type(s) for *: 'NoneType' and 'int'

In [28]:
multiply("apple" , 3)

'appleappleapple'

In [29]:
multiply("orange" , "apple")

TypeError: can't multiply sequence by non-int of type 'str'

In [30]:
def team():
    return "Liverpool"

In [34]:
team()

'Liverpool'

In [46]:

def calculation(a,opr,b): 
 
     """This function is designed for four operations"""
    
     if opr == "+":
        return a+b
     elif opr == "-":
        return a-b
     elif opr == "*":
        return a*b
     elif opr == "/":
        return a/b
     else:
        return "Wrong input"

In [47]:
calculation(4,"*",6)

24

In [39]:
calculation.__doc__

'This function is designed for four operations'

In [51]:
calculation(25,"/", 4)

6.25

In [1]:
def my_len(iter): # our own len() function
    
    counter =0
    for i in iter:
        counter+=1
    return counter

In [54]:
len("Technology")

10

In [53]:

my_len("Technology")

10

In [2]:
my_len([2,34,55,6,6,])

5

In [58]:
my_len(34234)

TypeError: 'int' object is not iterable

In [59]:
def my_len1(iter): # our own len() function for also returning int to str
    
    iter = str(iter)
    counter =0
    for i in iter:
        counter+=1
    return counter

In [57]:
my_len1(13474948)

8

In [62]:
def my_name(f_name, s_name):
    print(f"My name is {f_name} {s_name}")

In [64]:
my_name("James" , "Stone")

My name is James Stone

In [65]:
my_name(s_name="Stone", f_name="James")

My name is James Stone

In [66]:
my_name("Lilibet")

TypeError: my_name() missing 1 required positional argument: 's_name'

In [70]:

def my_name2(name, surname = "Watergate"): # default değer verebiliriz aşağıda hata almamak için< 
    print(f"My name is {name} {surname}")

In [68]:
my_name2("Richard")

My name is Richard Watergate

In [69]:
my_name2("Felix" , "Giggle")

My name is Felix Giggle

In [72]:
def my_name3(name, second_name="Ali", surname): # default argument en sona tanımlanmalı
    print(f"My name is {name} {second_name } {surname}")

SyntaxError: non-default argument follows default argument (1587486400.py, line 1)

In [73]:
def my_name3(name, surname, second_name="Kareem", ): # default argument en sona tanımlanmalıdır
    print(f"My name is {name} {second_name } {surname}")

In [74]:
my_name3("Ahmad", "Mohamed")

My name is Ahmad Kareem Mohamed

In [75]:
my_name3("Ahmad" , "Mohamed" , second_name="Mostafa")

My name is Ahmad Mostafa Mohamed

In [77]:
my_name3("James" ,"Giggs" ,"Walker")

My name is James Walker Giggs

In [78]:
a= "London"
b ="I"
c = "\U00002764"

In [80]:
"\U00002764"

'❤'

In [82]:
def love(pos1,pos2,pos3):
    print(pos2,pos3,pos1)

In [83]:
love(a,b,c)

I ❤ London

In [84]:
love(a,b,pos3="love")

I love London

In [85]:
love(pos2="I" , pos3="love", pos1="you")

I love you

In [25]:
def odd_numbers(a,b,c,d,e):
    """This function returns odd numbers"""
    
    odd_list = []
    for i in a,b,c,d,e:
        if i % 2:
            odd_list.append(i)
    return  f"Odd numbers are: {odd_list}"

In [26]:
odd_numbers(2,7,5,8,95) # it has to be 5 arguments to run

'Odd numbers are: [7, 5, 95]'

In [27]:
def odd_numbers(a,b,c,d,e):
    """This function returns odd numbers"""
    
    num_list = [a,b,c,d,e]
    odd_list = []
    for i in num_list:
        if i % 2:
            odd_list.append(i)
    return  f"Odd numbers are: {odd_list}"

In [28]:
odd_numbers(1,44,55,7,97)

'Odd numbers are: [1, 55, 7, 97]'