### SESSION 2 - DATA TYPES

In [42]:
print("Hello")
print("I am James")
print("I'm a teacher")

Hello
I am James
I'm a teacher

###pep8 rules

In [43]:
print("""You will
never 
walk 
alone"""
)

You will
never
walk
alone

### variables

In [44]:
name3 = "Bush"
name3

'Bush'

In [45]:
print(name3)

Bush

In [46]:
first_name = "Felipe"
last_name = "Luis"
print(first_name +" " + last_name)

Felipe Luis

In [47]:
pi_num = 3.14
r=10
result = pi_num*r*r
print(result ,"sqm")
print(int(result),"sqm")

314.0 sqm
314 sqm

In [48]:
name1, name2= "Oprah" , "Lamela"
print(name2,name1)

name_10 = "Ella" , "Gigs"
print(name_10)

Lamela Oprah
('Ella', 'Gigs')

### data types

In [68]:
print(type(5.5))
print(type(6))
print(type("Wonderful"))
print(type(name_10)) #type is tuple
print(type(name1))
type(pi_num)

<class 'float'>
<class 'int'>
<class 'str'>
<class 'tuple'>
<class 'str'>

float

In [69]:
print("3" + "5")
print(3,5)
print("3","5")
print("3"*4)
print("Joe " * 3)
print(name1*2)

35
3 5
3 5
3333
Joe Joe Joe
OprahOprah

In [74]:
3>5
print(type(3>5))

<class 'bool'>

In [79]:
myAge= 30
yourAge = 55
myAge=yourAge
myAge

55

In [83]:
person ="John"
age=30
department="Data Scientist"
salary = 120000
person ="Adam"
age=32
department="Web Developer"
# salary = 110000

In [84]:
print(person)
print(department)
print(salary)
print(age)

Adam
Web Developer
120000
32

In [86]:
x="Techpro"
y=x
x='pyhton'  
print(x)
print(y)

pyhton
Techpro

In [87]:
k=5
l=10
m=15
o,p,r=k,l,m
print(o,p,r)

5 10 15

In [96]:
name = input("Enter your name: ")
print("Hello" ,name)

Hello Ali

In [97]:
value_1= int(input("Enter a number: "))
value_2= int(input("Enter a second number: "))
total=value_1+value_2
print(value_1,"+",value_2,"=",total)

5 + 5 = 10

In [99]:
r=int(input("Enter the radius of the circle: "))
piNum=3.14
sqm=piNum*r*r
print("The area of circle is: ",sqm, "sqm")

The area of circle is:  314.0 sqm

In [100]:
x=4
y=3
3*x+2*y-5

13

In [105]:
pow(4,2)
# print(4**2)

16

In [106]:
pow(2,3,4) #first 2 power 3 and divide the result to 4 and write the remainder

0