### enumerate

In [1]:
a = [ "apple" , "orange", "banana"]
a

['apple', 'orange', 'banana']

In [2]:
enumerate(a)

In [3]:
list(enumerate(a))

[(0, 'apple'), (1, 'orange'), (2, 'banana')]

In [4]:
list(enumerate(a,100))

[(100, 'apple'), (101, 'orange'), (102, 'banana')]

In [5]:
num = [48, 10, 11, 21, 36, 5, 6, 52, 28, 29,
       53, 54, 45, 19, 20, 47, 55, 39, 41, 7,
       9, 17, 26, 27, 42, 22, 37, 51, 46, 18,
       44, 30, 34, 13, 15, 35, 33, 16, 50, 24]

In [6]:
print(num)

[48, 10, 11, 21, 36, 5, 6, 52, 28, 29, 53, 54, 45, 19, 20, 47, 55, 39, 41, 7, 9, 17, 26, 27, 42, 22, 37, 51, 46, 18, 44, 30, 34, 13, 15, 35, 33, 16, 50, 24]

In [7]:
max(num)

55

In [8]:
min(num)

5

In [14]:
len(num)

40

In [15]:
print(list(range(5,56)))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55]

In [16]:
#finding the missing elements in the num list

num = [48, 10, 11, 21, 36, 5, 6, 52, 28, 29,
       53, 54, 45, 19, 20, 47, 55, 39, 41, 7,
       9, 17, 26, 27, 42, 22, 37, 51, 46, 18,
       44, 30, 34, 13, 15, 35, 33, 16, 50, 24]

empty_list = []

for i in range(5,56):
    if i not in num: #range(min(num),max(num)+1)
        empty_list.append(i)

print(empty_list)

[8, 12, 14, 23, 25, 31, 32, 38, 40, 43, 49]

In [19]:
sum_list = num + empty_list
print(sum_list)

[48, 10, 11, 21, 36, 5, 6, 52, 28, 29, 53, 54, 45, 19, 20, 47, 55, 39, 41, 7, 9, 17, 26, 27, 42, 22, 37, 51, 46, 18, 44, 30, 34, 13, 15, 35, 33, 16, 50, 24, 8, 12, 14, 23, 25, 31, 32, 38, 40, 43, 49]

In [32]:
# 3 bölünemeyenleri bul

list = []
for i in num:
    if i % 3 ==0:
        continue
    if i % 3 !=0:
        list.append(i)
print(list)

[10, 11, 5, 52, 28, 29, 53, 19, 20, 47, 55, 41, 7, 17, 26, 22, 37, 46, 44, 34, 13, 35, 16, 50]

In [35]:
list.sort()

In [36]:
print(list)

[5, 7, 10, 11, 13, 16, 17, 19, 20, 22, 26, 28, 29, 34, 35, 37, 41, 44, 46, 47, 50, 52, 53, 55]

### list comprehension

In [38]:
list1 = [1,2,3,4,5]
empty_list = []

for i in list1:
    empty_list.append(i**2)
print(empty_list)

[1, 4, 9, 16, 25]

In [40]:
[ i ** 2 for i in list1 ]  # easier way to use loop

[1, 4, 9, 16, 25]

In [41]:
list2 = [2,5,4,8,6,9,88,33]
evens = []
for i in list2:
    if  i % 2 == 0:
        evens.append(i)
print(evens)

[2, 4, 8, 6, 88]

In [42]:
[i for i in list2 if i %2 == 0] # just if list comprehension

[2, 4, 8, 6, 88]

In [46]:
[i for i in list2 if i %2] #odds if 1 = True olur ve çalışır, if 0 = False olur ve çalışmaz

[5, 9, 33]

In [47]:
list3 = [1,2,3,4,5,6,7,8,9]

In [48]:
empty_list = []
for i in list3:
    if i % 2:
        empty_list.append(i)
    else:
        empty_list.append(i ** 2)

print(empty_list)

[1, 4, 3, 16, 5, 36, 7, 64, 9]

In [50]:
[ i if i % 2 == 1  else i ** 2 for i in list3 ] # if else together

[1, 4, 3, 16, 5, 36, 7, 64, 9]

In [51]:
list4 = ["renault?!" , "fiat?!" , "ford?!"]

In [54]:
[i.replace("?","").replace("!","") for i in list4 ]

['renault', 'fiat', 'ford']

### nested loops

In [59]:
for i in ["James" , "Linda", "George"]:
    for j in [1,2,3,4,5]:
        print(i,j)

James 1
James 2
James 3
James 4
James 5
Linda 1
Linda 2
Linda 3
Linda 4
Linda 5
George 1
George 2
George 3
George 4
George 5

In [60]:
for i in [1,2,3,4]:
    for j in [6,7,8,]:
        for z in [9]:
            print(i,j,z)

1 6 9
1 7 9
1 8 9
2 6 9
2 7 9
2 8 9
3 6 9
3 7 9
3 8 9
4 6 9
4 7 9
4 8 9

In [63]:
for i in range(2,3):
    for j in range(10):
        print(f"{i} x {j} = {i*j}")

2 x 0 = 0
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

### Armstrong Number

In [65]:
for i in "153":
    print(int(i))

1
5
3

In [67]:
x = input("Enter a number")
length = len(x)
sum = 0
for i in x:
    sum+= int(i) ** length
    
print(sum)

407

In [73]:
x = input("Enter a number")
length = len(x)
sum = 0
for i in x:
    sum+= int(i) ** length
    
if sum == int(x):
    print(f"{x} is Armstrong Number")
else:
    print(f"{x} is not Armstrong Number")

153 is Armstrong Number

### 10-10000 Armstrong Numbers Finding

In [76]:
empty_list1 = []

for x in range(10,10001):
    length = len(str(x))

    sum = 0
    for i in str(x):
        sum+= int(i) ** length
    
    if sum == int(x):
        empty_list1.append(x)

empty_list1

[153, 370, 371, 407, 1634, 8208, 9474]