### dictionary

In [4]:
{}
dict()
{}.fromkeys

In [5]:
dict_1 = {"key1" : "value1", "key2": 5, "key3": "value3"}
dict_1

{'key1': 'value1', 'key2': 5, 'key3': 'value3'}

In [6]:
dict_1.items()

dict_items([('key1', 'value1'), ('key2', 5), ('key3', 'value3')])

In [7]:
dict_1.keys()

dict_keys(['key1', 'key2', 'key3'])

In [8]:
dict_1.values()

dict_values(['value1', 5, 'value3'])

In [9]:
dict_1["key1"]

'value1'

In [10]:
dict_1["key1"].find("e")

4

In [11]:
dict_2 = {1: "one", 2: "two", 3 : "three"}
dict_2

{1: 'one', 2: 'two', 3: 'three'}

In [12]:
dict_3 = { False: 0 , True:1}
dict_3

{False: 0, True: 1}

In [13]:
dict_4 = {[1]: "Hello"} #lists cannot be used in dictionaries

TypeError: unhashable type: 'list'

In [ ]:
dict_5 = { 1: "one" , "two": 2, False: 0}
dict_5

{1: 'one', 'two': 2, False: 0}

In [ ]:
dict_6 = {3.14:"pi", 5.68:"float"}
dict_6

{3.14: 'pi', 5.68: 'float'}

In [ ]:
dict_7 = {{1,2,3}: "dict"}
dict_7

TypeError: unhashable type: 'set'

In [ ]:
dict_8= {(1,2,3): "tuple"}
dict_8

{(1, 2, 3): 'tuple'}

In [ ]:
dict_9 = {"names" :["Joe", "Ahmad", "Khan"], "ages": (20,21,32)}
dict_9

{'names': ['Joe', 'Ahmad', 'Khan'], 'ages': (20, 21, 32)}

In [ ]:
dict_9.items()

dict_items([('names', ['Joe', 'Ahmad', 'Khan']), ('ages', (20, 21, 32))])

In [ ]:
dict(one = 1, two=2)

{'one': 1, 'two': 2}

In [ ]:
dict(4 = "four", 5 = "five")

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (424995788.py, line 1)

In [ ]:
ahmad_family = {"father": "Mohamed", "mother": "Marva", "siblings" : "Jamal, Hassan, Khadija", "children": "Mina, Waled"}
ahmad_family

{'father': 'Mohamed',
 'mother': 'Marva',
 'siblings': 'Jamal, Hassan, Khadija',
 'children': 'Mina, Waled'}

In [ ]:
ahmad_family.items()

dict_items([('father', 'Mohamed'), ('mother', 'Marva'), ('siblings', 'Jamal, Hassan, Khadija'), ('children', 'Mina, Waled')])

In [ ]:
friends= {"friend1" :"James", "friend2": "Khaled", "friend3": "Joey"}
friends.items()

dict_items([('friend1', 'James'), ('friend2', 'Khaled'), ('friend3', 'Joey')])

In [ ]:
friends["friend4"] = "Frederick"
friends

{'friend1': 'James',
 'friend2': 'Khaled',
 'friend3': 'Joey',
 'friend4': 'Frederick'}

In [ ]:
friends["friend1"] = "Reese"
friends

{'friend1': 'Reese',
 'friend2': 'Khaled',
 'friend3': 'Joey',
 'friend4': 'Frederick'}

In [ ]:
friends["friend5"] = ("Felix" , "Alex")
friends

{'friend1': 'Reese',
 'friend2': 'Khaled',
 'friend3': 'Joey',
 'friend4': 'Frederick',
 'friend5': ('Felix', 'Alex')}

In [ ]:
len(friends)

5

In [ ]:
friends["friend5"]

('Felix', 'Alex')

In [ ]:
friends.items()

dict_items([('friend1', 'Reese'), ('friend2', 'Khaled'), ('friend3', 'Joey'), ('friend4', 'Frederick'), ('friend5', ('Felix', 'Alex'))])

In [ ]:
list(friends.items())

[('friend1', 'Reese'),
 ('friend2', 'Khaled'),
 ('friend3', 'Joey'),
 ('friend4', 'Frederick'),
 ('friend5', ('Felix', 'Alex'))]

In [ ]:

list(friends.items()) [0]

('friend1', 'Reese')

In [ ]:
list(friends.items()) [0][1]

'Reese'

In [ ]:
fr = list(friends.items())
fr

[('friend1', 'Reese'),
 ('friend2', 'Khaled'),
 ('friend3', 'Joey'),
 ('friend4', 'Frederick'),
 ('friend5', ('Felix', 'Alex'))]

In [ ]:
fr.append(("friend8" , "Lily"))
fr

[('friend1', 'Reese'),
 ('friend2', 'Khaled'),
 ('friend3', 'Joey'),
 ('friend4', 'Frederick'),
 ('friend5', ('Felix', 'Alex')),
 ('friend8', 'Lily')]

In [ ]:
dict(fr)

{'friend1': 'Reese',
 'friend2': 'Khaled',
 'friend3': 'Joey',
 'friend4': 'Frederick',
 'friend5': ('Felix', 'Alex'),
 'friend8': 'Lily'}

In [ ]:
fr.pop() # erase
fr

[('friend1', 'Reese'),
 ('friend2', 'Khaled'),
 ('friend3', 'Joey'),
 ('friend4', 'Frederick'),
 ('friend5', ('Felix', 'Alex'))]

In [ ]:
numbers = {"odd numbers": [], "even numbers": []}
numbers

{'odd numbers': [], 'even numbers': []}

In [ ]:
numbers["odd numbers"].append(1)

In [ ]:
numbers

{'odd numbers': [1], 'even numbers': []}

In [ ]:
numbers["odd numbers"].extend([3,5,7,9])
numbers

{'odd numbers': [1, 3, 5, 7, 9, 3, 5, 7, 9], 'even numbers': []}

In [ ]:
numbers["even numbers"].extend(list(range(0,11,2)))
numbers

{'odd numbers': [1, 3, 5, 7, 9, 3, 5, 7, 9],
 'even numbers': [0, 2, 4, 6, 8, 10]}

In [ ]:
{}.fromkeys("Hello")

{'H': None, 'e': None, 'l': None, 'o': None}

In [ ]:
{}.fromkeys("Hello", 5) # deger atıyor

{'H': 5, 'e': 5, 'l': 5, 'o': 5}

### update()

In [ ]:
dict_7

NameError: name 'dict_7' is not defined

In [3]:
dict_10 = {1: "one", 2: "two"}

In [5]:
dict_10.update({3: "three", 4: "four", 5: "five"})
dict_10

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}

In [10]:
dict_10.pop(4 )#key degerini yazmaz isek hata verir

'four'

In [11]:
dict_10

{1: 'one', 2: 'two', 5: 'five'}

In [12]:
del dict_10[5]

In [13]:
dict_10

{1: 'one', 2: 'two'}

In [15]:
my_family = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

In [16]:
my_family

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

In [17]:
my_family["child1"]

{'name': 'Emil', 'year': 2004}

In [18]:
type(my_family["child1"])

dict

In [19]:
my_family["child1"]["name"]

'Emil'

In [20]:
my_family["child2"].items()

dict_items([('name', 'Tobias'), ('year', 2007)])

In [22]:
my_family["child2"]["name"]

'Tobias'

In [23]:
my_family["child2"]["name"][2]

'b'

### in, not in

In [24]:
"e" in "hello"

True

In [25]:
"e" not in "hello"

False

In [27]:
"child2" in my_family

True