### TUPLES

In [1]:
print(tuple("James"))

('J', 'a', 'm', 'e', 's')

In [5]:
print([1,5,4,8,])

[1, 5, 4, 8]

In [6]:
name="Washington"
tuple(name)

('W', 'a', 's', 'h', 'i', 'n', 'g', 't', 'o', 'n')

In [10]:
type(("AL"))

str

In [9]:
type(("AL",))

tuple

In [11]:
("Hi","Joe")+("Hello")

TypeError: can only concatenate tuple (not "str") to tuple

In [12]:
("Hi","Joe")+("Hello",) # we need to add , for 1 element tuple

('Hi', 'Joe', 'Hello')

In [13]:
tuple("12545")

('1', '2', '5', '4', '5')

In [14]:
tuple(1212)

TypeError: 'int' object is not iterable

In [17]:
name_1="Watson" , "Joey" #tuple
name_1

('Watson', 'Joey')

In [18]:
type(name_1)

tuple

In [21]:
k= ("Hello",3.14,5)
k[0]

'Hello'

In [23]:
k[2] #finds 2th index

5

In [27]:
range(10)

range(0, 10)

In [31]:

tuple(range(5,15,2))

(5, 7, 9, 11, 13)

In [32]:
list(range(-10,11))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [34]:
tuple(range(2,10,-1))

()

In [35]:
tuple(range(10,2,-1))

(10, 9, 8, 7, 6, 5, 4, 3)

In [40]:
list(range(20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [43]:
a_group = (1,3.14,False,[1,2,3],(2,4,6))
a_group

(1, 3.14, False, [1, 2, 3], (2, 4, 6))

In [46]:
a_group+=("James",[2,8])
a_group

(1, 3.14, False, [1, 2, 3], (2, 4, 6), 'James', [2, 8])

In [44]:
a= ("hello",)
b=(3,5,7)
b+=a
print(b)

(3, 5, 7, 'hello')

In [47]:
a_group[5].endswith("s")

True

In [1]:
num_1= input("Kindly enter number 1 ")
num_2= input("Kindly enter number 2 ")

if num_1.isdigit() and num_2.isdigit():
    print(int(num_1)+int(num_2))
else:
    print("Please enter an integer")

17

In [2]:
a_list = ["James" , 5 , 8]
a_list

['James', 5, 8]

In [4]:
a_list[0] = "Hello"
a_list

['Hello', 5, 8]

In [5]:
str(a_list)

"['Hello', 5, 8]"