In [4]:
#Number of days in every month
jan=march=may=jul=august=october=dec=31
feb=28
apr=jun=sep=nov=30
print(jan,feb,march,apr,may,jun,jul,august,sep,october,nov,dec)

31 28 31 30 31 30 31 31 30 31 30 31

## type conversions

In [11]:
age=30
type(age)

int

In [10]:
converted_age=str(age)
type(converted_age)

str

In [12]:
pi_number=3.14
type(pi_number)

float

In [17]:
converted_pi_num= str(pi_number)
type(converted_pi_num)

str

In [20]:
x=False
converted_x=str(x)

In [21]:
converted_x

'False'

### input() function

In [22]:
input("Write your age!")

'15'

In [30]:
your_age =int(input("Enter your age!"))
if your_age>18:
    print("You can access the internet site")
else:
    print("You must be +18")

You must be +18

In [31]:
int(3.9999999) #no decimals written after the dot for integer

3

In [32]:
float(5)

5.0

In [33]:
z=5.9
z=int(z)
z

5

In [34]:
type(z)

int

In [35]:
int("6.0")

ValueError: invalid literal for int() with base 10: '6.0'

In [36]:
int(6.0)

6

In [37]:
age = "32"
2023-int(age)

1991

In [87]:
b_date=1991
2023-b_date

32

In [39]:
age_2=int(input("Enter your name: ")) #if not written in numbers it will fail
print(age_2)

15

In [40]:
int(False)

0

In [41]:
int(True)

1

In [42]:
float(False)

0.0

In [44]:
float(True)

1.0

In [47]:
x = 5.6
int(x)
print(type(x))

<class 'float'>

In [48]:
x = 5.6
x=int(x)
print(type(x))

<class 'int'>

In [72]:
x=25
y="15"
z="2.5"
w="I'm at_"

print(x-int(y))
print(round(x-float(z)))
k=print(z+str(x))

10
22
2.525

In [62]:
print(w +str(x)
)

I'm at_25

In [69]:
int(144**0.5) #square root

12

In [82]:
height=int(input("What's your height in cm?"))
if 140<=height<160:
    print("You are so short")
elif 160<= height<180:
    print("Your have a normal height")
elif 180<=height<200:
    print("You are very tall")
elif 50<height<=140:
    print("You must be child & baby")
elif 200<=height<=225:
    print("You are unhealthy tall!!!")
else:
    print("You have entered a wrong input!")

You are unhealthy tall!!!

In [86]:
float(str(int(float("5.2")))) #we can convert it over and over!!!

5.0